<a href="https://colab.research.google.com/github/ahaseebai/Complete-Machine-Learning-with-Abdul-Haseeb-Memon/blob/main/03_EDA_Handling_missing_values1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Preprocessing:**
**EDA = Exploratory Data Analysis**

Data Cleaning
- Handling Missing Values
- Handling Outliers
- Handling Inconsistencies
- Handling Duplicate

In [1]:
import pandas as pd
Dataset=pd.read_csv("patient.csv")
Dataset.head(5)

   Age (X)  Blood Pressure (Y)
0     25.0               120.0
1     30.0               125.0
2     35.0               130.0
3     40.0                 NaN
4     45.0               135.0

# **EDA = Exploratory Data Analysis**

In [5]:
Dataset.shape

(20, 2)

In [6]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age (X)             19 non-null     float64
 1   Blood Pressure (Y)  18 non-null     float64
dtypes: float64(2)
memory usage: 452.0 bytes

In [7]:
Dataset.ndim

2

In [8]:
Dataset.describe()

          Age (X)  Blood Pressure (Y)
count   19.000000           18.000000
mean    70.263158          156.944444
std     28.600393           34.476714
min     25.000000           90.000000
25%     47.500000          136.250000
50%     70.000000          157.500000
75%     92.500000          173.750000
max    120.000000          250.000000

# **How many Missing Values are there?**

In [2]:
Dataset.isnull()

    Age (X)  Blood Pressure (Y)
0     False               False
1     False               False
2     False               False
3     False                True
4     False               False
5     False               False
6     False               False
7     False                True
8     False               False
9     False               False
10    False               False
11    False               False
12    False               False
13    False               False
14    False               False
15    False               False
16    False               False
17    False               False
18     True               False
19    False               False

# **Best Technique: (Column Missing Values Sum)**

In [3]:
Dataset.isnull().sum()

Age (X)               1
Blood Pressure (Y)    2
dtype: int64

# **Missing Values in Dataset(All over)**

In [4]:
Dataset.isnull().sum().sum()

np.int64(3)

# **Handling a Missing Values**
- Numerical data (Mean / Median)
- Categorical Data (Mode / orward Filling / Backward Filling)

In [30]:
Dataset["Age (X)"].fillna(Dataset["Age (X)"].median())

0      25.0
1      30.0
2      35.0
3      40.0
4      45.0
5      50.0
6      55.0
7      60.0
8      65.0
9      70.0
10     75.0
11     80.0
12     85.0
13     90.0
14     95.0
15    100.0
16    105.0
17    110.0
18     70.0
19    120.0
Name: Age (X), dtype: float64

In [14]:
Dataset.isnull().sum()

Age (X)               0
Blood Pressure (Y)    2
dtype: int64

In [28]:
Dataset["Blood Pressure (Y)"].fillna(Dataset["Blood Pressure (Y)"].mean())

0     120.000000
1     125.000000
2     130.000000
3     156.944444
4     135.000000
5     140.000000
6     145.000000
7     156.944444
8     150.000000
9     155.000000
10    160.000000
11    165.000000
12    170.000000
13     90.000000
14    175.000000
15    180.000000
16    250.000000
17    185.000000
18    160.000000
19    190.000000
Name: Blood Pressure (Y), dtype: float64

# **Checking Missing Values: as it has been handled Successfully**

In [29]:
Dataset.isnull().sum()

Age (X)               0
Blood Pressure (Y)    0
dtype: int64

# **Handle Missing Values by Scikit Learn (Simple Imputer)**

In [38]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy="mean")
array=si.fit_transform(Dataset[["Age (X)","Blood Pressure (Y)"]])
new_missing = pd.DataFrame(
    array,
    columns=["Age (X)", "Blood Pressure (Y)"]
)

In [40]:
new_missing.isnull().sum()

Age (X)               0
Blood Pressure (Y)    0
dtype: int64